*.pyc
*.swp
/bluepyefe.egg-info/
load_module
.DS_Store
.tox/
.coverage
.python-version
dist
BluePyEfe.egg-info
/testrun
test_run
.idea/
MouseCells/
.ipynb_checkpoints/
coverage.xml
MouseCells_sAHP/
MouseCells_APThreshold/
tests/exp_data/X/